@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#root {
    min-height: 100vh;
}

body {
    background-color: f5f5f7;
    min-width: 375px;
}

* {
    font-family: 'Roboto', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}